.container {
  background-image: url('/bg-about.gif');
  background-attachment: fixed;
  background-position: center;
  background-size: 250%;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0;
}

#logo {
  padding-top: 12vh;
  animation: move-logo 0.5s ease-in-out 2.7s 1 normal forwards;
}

@keyframes move-logo {
  to {
    padding-top: 0;
  }
}

.about {
  z-index: 1;
  max-width: 600px;
  padding: 0 2em;
  font-family: video, sans-serif;
  opacity: 0;
  animation: show-content 2s ease-in-out 3.5s 1 normal forwards;
}

@keyframes show-content {
  to {
    opacity: 1;
  }
}

.about h2 {
  margin: 0;
  font-size: 3em;
  line-height: 1;
  color: #00ff6a;
}

.about div {
  padding: 0.5em 0;
  font-size: 2em;
  color: #fff;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 1;
  animation: change-opacity 5s ease-in-out 4s 1 normal forwards;
}

@keyframes change-opacity {
  to {
    opacity: 0.5;
  }
}
