.menuButton {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
  padding: 0.5em;
  font-family: video, sans-serif;
  font-size: 1.5em;
  color: #00ff6a;
  cursor: pointer;
  background-color: #222;
  border: 1px solid #00ff6a;
}

.menuButton:hover {
  opacity: 0.8;
}

.menuOverlay {
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.8;
}

.side {
  position: fixed;
  top: 0;
  right: -200px;
  z-index: 3;
  width: 200px;
  height: 100vh;
  background: #222;
  transition: 0.35s right cubic-bezier(0.255, 0.85, 0.495, 0.935);
}

.open {
  right: 0;
}
